

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #cff4fc !important;
  position: fixed;
  width: 100%;
  padding: 5px 0;
  margin-top: -100px;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.bienvenido {
  color: #0f3eaa;
  font-weight: 700;
  text-decoration: none;
}

.contenedor-logout {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 3vw;
}


.cerrarSesion {
  background-color: #c44440;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
}

.cerrarSesion:hover {
  background-color: #0a9099;
  border-radius: 20px;
  color: white;
}

main {
  margin-top: 100px;
}
/* ********************************** IMPORTANTE ****************************** */
.importante{
    border: 1px solid #5480E5;
    color: #4A7831;
    padding: 10px;
    font-family: "Lato", sans-serif;
    margin-bottom: 20px;
}
.terminos {
  display: flex;
  /* Utilizamos flexbox para alinear los elementos en una fila */
  align-items: center;
  /* Alineamos verticalmente los elementos en el centro */
  margin-left: 10px;
}

.terminos p {
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 0;
}

.terminos input[type="checkbox"] {
  transform: scale(1.5);
}
/* ****************************************************************************** */

.navbar-brand {
  margin-left: 5vw;
  font-style: italic;
}


.table-responsive {
  margin-bottom: 10px;
}

thead {
  text-align: center;
}

th {
  vertical-align: middle;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cargo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: -20px;
  color: #0f3eaa;
}

.cargo-header p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 26px;
}

select,
input {
  border: none;
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid #0f3eaa;
  font-style: italic;
}

th {
  color: #091D58 !important;
}
caption {
  margin-left: 80px;
  color: black;
  font-weight: bold;
}
.cualidades-title {
  text-align: center;
}

.cualidades {
  margin: 50 10px;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.cualidades input::placeholder {
  padding-left: 10px;
  font-weight: bold;
  color: #0f3eaa;
}

.titulo-tercera-seccion, .titulo-sexta-seccion, .titulo-septima-seccion {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}



.opciones {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-check-label {
    margin-bottom: 0;
    margin-left: 5px;
}

/* ********************************** BOTON FORMULARIO ****************************** */
.container-button{
    display: flex;
    justify-content: center;
}

.formulario__btn{
    width: 20%;
    background-color: #0f3eaa;
    border-radius: 20px;
    font-weight: bold;
    font-family: monospace;
    margin-bottom: 20px;
}
/* ****************************************************************************** */

/* TAMAÑO ESCRITORIO MAYORE O IGUAL A 1200 px */
@media screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }
}
/* TAMAÑO TABLET DE 960 A 1199 px */
@media screen and (max-width: 1199px) {

}

/* TAMAÑO CELULARES DE 600 A 959 px */
@media screen and (max-width: 959px) {
    th {
      font-size: 15px;
    }
    input, select{
      font-size: 15px;
      text-align: center;
    }
    caption {
        font-size: 15px;
        text-align: left;
      }
  }

/* TAMAÑO CELULARES PEQUEÑOS MENORES  A 600 px */
@media screen and (max-width: 599px) {
  th {
    font-size: 10px;
  }
  input, select {
    font-size: 10px;
    text-align: center;
  }
  caption {
    font-size: 10px;
    text-align: left;
  }
  .titulo-tercera-seccion, .titulo-sexta-seccion, .titulo-septima-seccion {
    font-size: 15px;
    margin-bottom: 1px;
  }
  .form-check-label {
    font-size: 10px;
  }

}
@media screen and (max-width: 420px) {
  .navbar{
    font-size: 16px;
  }
  .bienvenido{
    font-size: 18px;
  }
  .contenedor-logout {
    width: 80px;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  caption {
    font-size: 10px;
    text-align: center;
  }
  .contenedor-logout{
    margin: 0 auto;
  }
  .bienvenido{
    margin: 0 auto;
  }
}

    
