@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* ========================================== FORMULARIO ========================================= */
*{
   box-sizing: border-box;
   margin:0; padding:0;
}

.sticky-top{
   position: fixed;
   width: 100%;
}
body{
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-image: linear-gradient(
      rgba(0,184,156,0),
      rgba(0,184,156,0)
   ), url("./fondo-login.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
     
}

.titulo-Formulario{
   text-align: center;
   margin: -10px 0 5px 25px;
   font-family: 'Poppins', sans-serif ; 
   font-size: 25px; 
   background-color: whitesmoke; 
   width: 100%;
   display: block;
   margin: 10px auto 40px auto;
   justify-content: center;
   text-align: center;
   border-radius: 5px;
   
}

.error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px 20px;
   margin: -30px auto 20px auto;
   justify-content: center;
   text-align: center;
   width: 97%;
}

.form-container{
   max-width: 450px;
   width: 70%;
   margin: auto;
   font-family: 'Roboto', sans-serif;
   background: whitesmoke;

   justify-content: center;
   border-radius: 20px;
   align-items: center;
   padding: 20px 40px;
   backdrop-filter: blur(25px);
   margin-top: 120px;

   content: "";
   position: relative;
}
/* *******************  ANIMACION form-container ****************** */
.form-container::before {
   content: "";
   position: absolute;
   top:0;
   left: 0;
   z-index: -1;
   width: 99%;
   height: 100%;
   background-image: conic-gradient(#ec524c 200deg, transparent 10deg);
   background-size: 800%;
   border-radius: 20px;
   filter: blur(8px);
   animation: rotar 5s linear infinite;
}
.form-container::after{
   content: "";
   position: absolute;
   top:0;
   left: 0;
   z-index: -1;
   width: 99.7%;
   height: 100%;
   background: whitesmoke;
   border-radius: 20px;
}
@keyframes rotar{
   0% {
      background-position: 0 0;
   }
   50% {
      background-position: 500% 0;
   }
   100% {
      background-position: 0 0;
   }
}

/* *********************************************************************** */

.formulario {
	display: grid;
   gap: 10px;
	
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 0px;
	cursor: pointer;
   font-style: italic;
   position: absolute;
   font-size: 1em;
   letter-spacing: 0.05em;
   transition: 0.5s;
   pointer-events: none;
   top: 2px;
   left: 10px;
   color: rgba(0,0,0, 0.5);
   
}

.iconos{
position: absolute;
top: -5px;
right: 5px;
width: 35px;
}

.formulario__grupo{
   margin-bottom: 30px;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	background: #fff;
	border: 3px solid transparent;
	border-radius: 10px;
	height: 35px;
	line-height: 45px;
   padding-left: 10px;
	transition: .3s ease all;
    position: relative;
    width: 88%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000 ; 
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
/*  */
.formulario__grupo div input:focus ~ label,
.formulario__grupo div input:not(:placeholder-shown) ~ label{
   color: rgba(0,0,0, 1);
   transform: translateX(-5px) translateY(-18px);
   font-size: 0.75em;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 52px;
	bottom: 7.5px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}


.formulario__checkbox {
	margin-right: 10px;
}
.terminos{
   font-size: 12px;
   margin-left: -10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
   
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: orange;
	padding: 0 15px;
   margin: 0 100px;
	border-radius: 3px;
	display: none;
   text-align: center;
   font-size: 12px;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* -------------------------- BOTON INGRESAR ---------------------------------*/
.formulario__btn {
	height: 45px;
	line-height: 15px;
	width: 50%;
	background: #000;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
   border: none;
   outline: none;
   border-radius: 40px;
   cursor: pointer;
   font-size: 1em;
   font-weight: 800;
   margin-top: 20px;
   position: relative;
   z-index: 1;
   background-color: black;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
   background: #ec524c;

}
/* --------------------------------------------------------------------- */

.tienes-cuenta{
   text-align: center;
   margin-top: -10px;
   outline: none;
   font-weight: lighter;
   font-size: smaller;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tienes-cuenta p a{
   text-decoration: none;
   color: #000;
}
.tienes-cuenta p a:hover{
   color: red;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
   
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .circulo-error {
	color: #bb2929;
   bottom: 25.5px;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}

   .error-msg, .titulo-Formulario{
      width: 70%;
   }
}